<!-- order-success-modal.ejs -->

<div id="order-success-modal">
    <h2><%= title %></h2>
    <p><%= text %></p>
    <img src="/path/to/success-image.png" alt="Success Image">
    <div class="buttons">
        <a href="/orders" class="button view-orders"><%= confirmButtonText %></a>
        <a href="/" class="button continue-shopping"><%= cancelButtonText %></a>
    </div>
</div>
